In [2]:
s= "This is basic python class"
len(s)

26

In [4]:
count = 0
for i in s:
    count += 1
print('Total length is', count)

Total length is 26

In [8]:
result = ''
for i in range(len(s) - 1,-1, -1):
    result = result + s[i]
    
print('Reverse string is:  ', result)

Reverse string is:   ssalc nohtyp cisab si sihT

In [12]:
s = 'ineuron'
v ='AaEeIiOoUu'
for i in s:    
    if i in v:
        print("Vowel", i)
    else:
        print('Not vowel', i)

Vowel i
Not vowel n
Vowel e
Vowel u
Not vowel r
Vowel o
Not vowel n

In [14]:
"g" in "FGermanyg"

True

In [18]:
s = "NAMAN"
if s[::-1] == s:
    print('A Palindrome')
else:
    print('Not a palindrome')

A Palindrome

In [23]:
d = { "india": "IN", "canada": "CA", "united states": "US", "Nepal": 'NP'}
"india" in d

True

In [24]:
d1 = {}
d2 = {}

for i in d:
    if len(i) <= 5:
        d1[i] = d[i]
    else:
        d2[i] = d[i]
        
print(d1, d2)

{'india': 'IN', 'Nepal': 'NP'} {'canada': 'CA', 'united states': 'US'}

In [25]:
d_1 = { "ineuron": {
                        "a": 14,
                        "b": 10,
                        "c": 4
                    },
       "course": {
           "d": 45,
           "e": 34,
           "f": 1
       }
}

In [29]:
max = 0
for i in d_1:
    max = 0
    for j in d_1[i]:
        if max < d_1[i][j] : max = d_1[i][j]
    print('Max for ', i, ' is ', max)

Max for  ineuron  is  14
Max for  course  is  45